<%=flash[:error]%>
<h1>Lehigh Valley Group Rides</h1>
<br/>
<%@rides.each do |ride|%>
    <p><strong><%=ride.name%></strong><br/> 
    <%=ride.date%> | 
    <%=ride.starting_time%>
        <%if current_user%>
        - <a href="/rides/<%=ride.id%>">View Ride Details</a></p>
        <%end%>
<%end%>
